.footer__developed-right a:before {
    transition: 0.4s all ease;
}
.footer {
    padding-bottom: 30px;
    .line {
        width: 100%;
        height: 2px;
        background-color: rgba($gray, 0.7);
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        a,
        span {
            color: rgba($gray, 0.7);
        }
    }
    &__developed {
        display: flex;
        align-items: center;
        &-left {
            margin-right: 20px;
        }
        &-right {
            span {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    position: relative;
                    &:before {
                        content: "";
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: $gray;
                        opacity: 0;
                    }
                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    span {
        display: block;
    }
}