.header {
    background: url('../img/bg-header.jpg') center (center / cover) no-repeat;
    height: 100vh;
    position: relative;
    .menu {
        padding-top: 50px;
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                margin-left: 63px;
                &:first-child {
                    margin-left: 0;
                }
            }
            span {
                font-family: $second_font;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
    .menu__list :last-child {
        margin-left: auto;
    }
    &__aside {
        position: fixed;
        z-index: 5;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100vh;
        width: $aside_width;
        left: 0;
        bottom: 0;
        background-color: rgba(#333333, 0.75);
        padding-bottom: 90px;
        .social {
            &__list {
                li {
                    padding-bottom: 30px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    i {
                        font-size: 26px;
                        transition: 0.3s all ease;
                    }
                    &:hover {
                        i {
                            color: $gold;
                        }
                    }
                }
                
            }
        }
    }
    &__info {
        display: inline-block;
        transform: rotate(-90deg);
        text-transform: uppercase;
        font-family: $second_font;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        position: relative;
        white-space: nowrap;
        margin-bottom: 280px;
        &:before {
            content: '';
            position: absolute;
            width: 80px;
            height: 0;
            background-color: $second_color;
            border: 3px solid $second_color;
            left: -110px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__wrapper {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: $container-width;
    }
    &__text {
        max-width: 550px;
    }
    &-title {
        font-family: $second_font;
        font-weight: bold;
        font-size: 64px;
        line-height: 87px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    &-description {
        margin-top: 50px;
        font-family: $main_font;
        font-size: 14px;
        line-height: 21px; 
    }
    
    &__slider {
        position: relative;
        height: 100%;
    }
}