html {
    box-sizing: border-box;
}
h2 {
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    background-color: $bg_color;
    font-family: $main_font;
    color: $main_color;
    overflow-x: hidden;
}
.container {
    max-width: $container-width + $container-padding + ($aside_width * 2);
    margin: 0 auto;
    padding: 0 $aside_width;
}
.container-slider {
    max-width: 1770px;
    padding-left: $aside_width;
}
.btn {
    width: 160px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main_color;
    background-color: $gold;
    font-family: $second_font;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s all ease;
}
.btn-header,
.btn-form {
    &:hover {
        background-color: $main_color;
        color: $gold;
    }
}
.title {
    font-family: $second_font;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 100px;
    span {
        color: $gold;
    }
}
.pageup {
    opacity: 0;
	width: 50px;
	height: 50px;
	position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	bottom: 20px;
	right: 20px;
	z-index: 30;
    font-size: 25px;
	cursor: pointer;
    transition: .4s all ease;
	border-radius: 100%;
	background-color: $gold;
	&:hover {
		background-color: $main_color;
        color: $gold;
        box-shadow: 0 0 0 2px rgba($gold, 0.7);
	}
	&:active {
		background-color: #3c4b6d;
		box-shadow: 1px 0 #0e243f;
	}
}



::-webkit-scrollbar-button {
	background-image: url('');
	background-repeat: no-repeat;
	width: 5px;
	height: 0px
}
	
::-webkit-scrollbar-track {
	background-color: $bg_color;
}
	
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: $gold;
}
	
::-webkit-scrollbar-thumb:hover{
	background-color: $main_color;
}
	
::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width: 10px;
	height: 0px
}
	
::-webkit-scrollbar{
	width: 10px;
}