.poster-button-prev span,
.poster-button-next span,
.poster-button-prev span:before,
.poster-button-next span:before,
.image-slider__inner,
.image-slider__inner-title,
.image-slider__inner-date,
.image-slider__inner-btn,
.btn,
.btn i {
    transition: 0.4s all ease;
}
.poster-slider {
    width: 400px;
    height: 100%;
    position: relative;
    display: block;
    text-align: center;
}
.poster-slider__slider {
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.poster-button-next {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 110%;
    color: $main_color;
    &::after {
        display: none;
    }
    &::before {
        content: url('../img/slide/arrow-right.svg') ;
        width: 40px;
        height: 20px;
        position: absolute;
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.poster-button-prev {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 110%;
    &::after {
        display: none;
    }
    &::before {
        content: url('../img/slide/arrow-left.svg') ;
        width: 40px;
        height: 20px;
        position: absolute;
        left: -70px;
        top: 50%;
        transform: translateY(-50%);


    }
}
.poster-button-next,
.poster-button-prev {
    font-family: $second_font;
    color: $main_color;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    span {
        padding: 5px;
    }
    &:hover {
        span {
            box-shadow: inset 0 0 0 2px rgba($gold, 0.7);
        }
    }
}
.image-slider {
    &__slider {
        background: center (center / cover) no-repeat;
        &:hover {
            .image-slider__inner {
                background: rgba(#1C2121, 0.3);
            }
            .image-slider__inner-title,
            .image-slider__inner-date {
                opacity: 0;
            }
            .image-slider__inner-btn {
                opacity: 1;
            }
        }
    }
    &__inner {
        min-height: 550px;
        position: relative;
        background: rgba(#1C2121, 0.85);
        &-title {
            padding: 40px 0 0 40px;
            font-family: $second_font;
            font-weight: bold;
            font-size: 24px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

        }
        &-date {
            position: absolute;
            bottom: 100px;
            left: -25px;
            font-family: $second_font;
            transform: rotate(-90deg);
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        &-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0;
            .btn {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                font-size: 30px;
                &:hover {
                    box-shadow: inset 0 0 0 3px rgba($main_color, 0.7);
                    i {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}


