$container-width: 1110px;
$container-padding: 20px;
$aside_width: 100px;
$transition: all 0.4s ease;

$main_font: 'Open Sans', sans-serif;
$second_font: 'Open Sans Condensed', sans-serif;

$main_color: #FFFFFF;
$second_color: #C4C4C4;
$gold: #D1A954;
$black: #000000;
$gray: #989898;
$bg_color: #333333;