$container-width: 1110px;
$aside_width: 150px;

$main_font: 'Open Sans', sans-serif;
$second_font: 'Open Sans Condensed', sans-serif;

$main_color: #FFFFFF;
$second_color: #C4C4C4;
$gold: #D1A954;
$black: #000000;
$gray: #989898;